---
layout: default
---

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="buyTicket">
    <div class="row">

      {% include posts-upcoming.html %}

         <section class="banner">
           {{ site.ad.ledger }}
         </section>

       </div>
       <div class="row">

         <div class="section-heading ">
           <h2>
               Past Bitcoin Forks
           </h2>
         </div>

         {% include posts-past.html %}




 </div>
</div>


  <div role="tabpanel" class="tab-pane fade" id="about">
    {% include about.html %}
  </div>

  <div role="tabpanel" class="tab-pane fade" id="termCondition">
    {% include tc.html %}
  </div>

 </div>
 <!-- // Tab panes -->
