<!-- //  item -->
{% for post in site.posts %}
{% if post.tag contains 'past' %}

  <div class="col-md-6">
    <div class="ticketBox" data-ticket-price="5000">
      <div class="inactiveStatus"></div>

      <div class="row">
       <div class="col-xs-6">
          <div class="ticket-name">{{ post.title }}<span>
              {{ post.tagline }}<br>
              <strong>Block</strong> {{ post.blocksize }}</span></div>
          </div>

       <div class="col-xs-6">
        <div class="ticket-price-count-box">

            <p class="price">Forked {{ post.executed | date: "%d %b %Y" }}</p>
          </div>
        </div>
       </div>

      <div class="ticket-description">
        <div class="ticket-control">
         <a class="internal-post" href="{{ post.url }}">
           More >>
         </a>
        </div>
      </div>

      </div>
      </div>
      {% endif %}
      {% endfor %}
      <!-- // end item -->
