<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body>

    <div class="loader">
       <div>
        <img src="/images/icons/preloader.gif" />
       </div>
    </div>

    <div class="container-fluid">
		 <div class="row">

          {% include sidebar.html %}

            <div class="col-sm-7 right-wrapper">
            	<div class="event-ticket-wrapper">

                <div class="event-tab">

                  {% include nav.html %}

                  {{ content }}


                </div>
              </div>
            </div><!-- // end col 7 -->
          </div><!-- // row -->
      </div><!-- // container-fluid -->

    


    {% include footer.html %}
  </body>
</html>
